<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!--<preference for="Magento\Catalog\Api\ProductRepositoryInterface"
                type="Simplified\FirstModule\Model\ResourceModel\CustomProductRepository" />-->
    <preference for="Simplified\FirstModule\Api\PencilInterface"
                type="Simplified\FirstModule\Model\Pencil" />
    <preference for="Simplified\FirstModule\Api\ColorInterface"
                type="Simplified\FirstModule\Model\Color\Yellow" />
    <preference for="Simplified\FirstModule\Api\SizeInterface"
                type="Simplified\FirstModule\Model\Size\Normal" />
    <preference for="Simplified\FirstModule\Api\BrightnessInterface"
                type="Simplified\FirstModule\Model\Brightness\Dark" />
    <virtualType name="virtualRedColor" type="Simplified\FirstModule\Model\Color\Red">
        <arguments>
            <argument name="brightness" xsi:type="object">Simplified\FirstModule\Model\Brightness\Light</argument>
        </arguments>
    </virtualType>
    <type name="Simplified\FirstModule\Model\Pencil">
        <arguments>
            <argument name="color" xsi:type="object">virtualRedColor</argument>
            <argument name="size" xsi:type="object">Simplified\FirstModule\Model\Size\Big</argument>
        </arguments>
    </type>
    <type name="Simplified\FirstModule\Model\Student">
        <arguments>
            <argument name="name" xsi:type="string">Charles</argument>
            <argument name="age" xsi:type="number">39</argument>
            <argument name="scores" xsi:type="array">
                <item name="maths" xsi:type="number">100</item>
                <item name="programming" xsi:type="number">100</item>
            </argument>
        </arguments>
    </type>
    <type name="Simplified\FirstModule\Controller\Page\HelloWorld">
        <plugin name="on_helloworld_execute_sort_order_10"
                type="Simplified\FirstModule\Plugin\HelloWorldActionPluginSortOrder10"
                sortOrder="10" />
        <plugin name="on_helloworld_execute_sort_order_20"
                type="Simplified\FirstModule\Plugin\HelloWorldActionPluginSortOrder20"
                sortOrder="20" />
        <plugin name="on_helloworld_execute_sort_order_30"
                type="Simplified\FirstModule\Plugin\HelloWorldActionPluginSortOrder30"
                sortOrder="30" />
    </type>
    <type name="Simplified\FirstModule\Controller\Page\HeavyService">
        <arguments>
            <argument name="heavyService" xsi:type="object">Simplified\FirstModule\Model\HeavyService\Proxy</argument>
        </arguments>
    </type>
</config>