<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Simplified\Database\Api\Data\AffiliateMemberInterface"
                type="Simplified\Database\Model\AffiliateMember" />
    <preference for="Simplified\Database\Api\AffiliateMemberRepositoryInterface"
                type="Simplified\Database\Model\AffiliateMemberRepository" />
</config>